<br>
<div class="container">
    <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <%= image_tag("hamburger.jpg", :alt => "Hamburger", class: "d-block w-100") %>
        </div>
        <div class="carousel-item">
            <%= image_tag("steak.jpg", :alt => "Steak", class: "d-block w-100") %>
        </div>
        <div class="carousel-item">
            <%= image_tag("spaghetti.jpg", :alt => "Spaghetti", class: "d-block w-100") %>
        </div>
    </div>
    </div>
</div>